*{
    margin: 0px;
    box-sizing: border-box;
}

.Mainheader{
    padding: 40px ;
    margin-top: 0px;
    width: auto;
    background-color: rgb(244, 244, 207);
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.Navbar{
    display: flex;
    justify-content: flex-end;
}
.Navbar li{
    list-style: none;
    margin: 0px 20px;

}
.Navbar a{
    color: black;
    text-decoration: none;
}

.Navbar a:hover{
    transition: 0.2s;
    color: #d2a871;
}
#Contact {
    color: white;
    background-color: black;
    padding: 12px;
    border-radius: 20px;
    position: relative; /* Add position relative for animation */
    
}

#Contact:hover {
    color: white;
    background-color: rgb(212, 59, 59);
    padding: 12px;
    border-radius: 20px;
}
#Contactli:hover{
    transition: 0.3s;
    animation: gooUp 0.5s ease-in-out;
}

@keyframes gooUp {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
.innercontent{
    margin-top: 200px;
    text-align: center;
    background-color: rgb(244, 244, 207);
    
}
.innercontent h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #3d3c53;
}
.skills {
    display: flex;
    justify-content: center;
    overflow: hidden; /* Add this line to hide overflowing content */
    padding-bottom: 50px;
}
.icons{
    display: flex;
}
.images{
    width: 110px;
}
.iconstack{
    margin: 30px 50px 0px 0px;
    
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(30%); /* Adjust to half the total width for a smooth transition */
    }
}

.icon-list {
    display: flex;
    animation: slide 30s infinite linear; /* Adjust the duration and timing function as needed */
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    color: rgb(35, 35, 35);
    
    
}

.icons {
    transition: transform 0.5s ease-in-out;

    
}
.projectframe{
    background-color: #ffffff;
    margin-top: 200px;
}
.project_heading{
    margin-left: 8%;
}
.project_heading h3{
    font-family: 'Karla', sans-serif;
    color: #B4B2C5;
    font-size: 23px;
}
.project_heading h1{
    font-family: 'Poppins', sans-serif;
    color: #130F49;
    font-size: 60px;
}
.pcontent{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 20px;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    color: white;
    padding-bottom: 100px;
    
}
.pcontent_item {
    width: 380px;
    margin: 40px 10px 0 10px;
    text-align: center;
    color: #fff; 
    background-color: #383737; 
    transition: margin-top 0.3s ease-in-out; 
    overflow: hidden; 
    border-radius: 8px; 
}

.pcontent_item:hover {
    margin-top: 10px;
    
}

.pcontent_item {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.pcontent_item img{
    margin-top: 0px;
    width: 376px;
    border-radius: 0px;
}
.ptitle{
    margin-top: 10px;
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
}
.btbottom{
    margin-bottom: 20px;
}

.a1 {
   color: white;
   list-style: none;
    margin-right: 10px;
    background-color: black;
    padding: 15px;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    border-radius: 10px;
}
.a2 {
    color: white;
    list-style: none;
     margin-right: 10px;
     background-color: #34cd4b;
     padding: 14px;
     text-decoration: none;
     font-family: 'Karla', sans-serif;
     border-radius: 10px;
 }
 

