*{
    margin: 0px;
    box-sizing: border-box;
}

.Mainheader{
    padding: 40px ;
    margin-top: 0px;
    width: auto;
    background-color: antiquewhite;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.Navbar{
    display: flex;
    justify-content: flex-end;
}
.Navbar li{
    list-style: none;
    margin: 0px 20px;

}
.Navbar a{
    color: black;
    text-decoration: none;
}

.Navbar a:hover{
    transition: 0.2s;
    color: #d2a871;
}
#Contact {
    color: white;
    background-color: black;
    padding: 12px;
    border-radius: 20px;
    position: relative; /* Add position relative for animation */
    
}

#Contact:hover {
    color: white;
    background-color: rgb(212, 59, 59);
    padding: 12px;
    border-radius: 20px;
}
#Contactli:hover{
    transition: 0.3s;
    animation: gooUp 0.5s ease-in-out;
}

@keyframes gooUp {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
.innercontent{
    margin-top: 200px;
    text-align: center;
}
.skills {
    display: flex;
    justify-content: center;
    overflow: hidden; /* Add this line to hide overflowing content */
    
}
.icons{
    display: flex;
}
.images{
    width: 120px;
}
.iconstack{
    margin: 50px 50px 0px 0px;
    
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(30%); /* Adjust to half the total width for a smooth transition */
    }
}

.icon-list {
    display: flex;
    animation: slide 30s infinite linear; /* Adjust the duration and timing function as needed */
}

.icons {
    transition: transform 0.5s ease-in-out;
}



